<v-container
    text-xs-center
    fluid
    pa-0
    fill-height
>
    <v-layout
        row
        fill-height
        justify-start
    >
        <v-flex
            md3
            lg2
        >
            <v-navigation-drawer
                :value="$vuetify.breakpoint.mdAndUp || isLeftBarOpened"
                :stateless="$vuetify.breakpoint.mdAndUp"
                :absolute="$vuetify.breakpoint.smAndDown"
                @input="leftBarOpened"
            >

                <v-toolbar
                    height="auto"
                    flat
                    color="orange lighten-2"
                    dark
                >
                    <v-list>
                        <v-list-tile>
                            <v-list-tile-title class="title">
                                Tags
                            </v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>

                <v-divider></v-divider>

                <v-list
                    dense
                    class="pt-0"
                >
                    <v-list-tile
                        v-for="tag in tags"
                        :key="tag.id"
                        @click="toggleTagFilter(tag.name)"
                        :class="{'primary' : isTagFilterSelected(tag.name)}"
                    >
                        <v-list-tile-content>
                            <v-list-tile-title>{{ tag.name }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
        </v-flex>

        <v-flex
            xs12
            md9
            lg10
        >
            <v-container
                grid-list-lg
                id="bookmarks-container"
            >
                <v-layout
                    row
                    wrap
                >
                    <v-flex
                        v-for="bookmark in bookmarks"
                        :key="bookmark.id"
                        xs12
                        sm12
                        md4
                    >
                        <v-card height="300">
                            <a :href="bookmark.url">
                                <v-img
                                    :src="bookmark.image ? bookmark.image : '/images/placeholder-400x200-secondary.png'"
                                    height="200"
                                ></v-img>
                            </a>

                            <v-card-title primary-title>
                                <div>
                                    <a :href="bookmark.url">
                                        <p class="subheading mb-0">{{bookmark.title ? bookmark.title : 'No Title'}}</p>
                                    </a>
                                </div>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
                <infinite-loading @infinite="handleInfiniteScroll"></infinite-loading>
            </v-container>
        </v-flex>
    </v-layout>
</v-container>
