<v-container
    text-xs-center
    fluid
    pa-0
    fill-height
>
    <v-layout
        row
        fill-height
        justify-start
    >
        <v-flex
            md3
            lg2
        >
            <v-navigation-drawer
                :value="$vuetify.breakpoint.mdAndUp || isLeftBarOpened"
                :stateless="$vuetify.breakpoint.mdAndUp"
                :absolute="$vuetify.breakpoint.smAndDown"
                @input="leftBarOpened"
            >

                <v-toolbar
                    height="auto"
                    flat
                    color="orange lighten-2"
                >
                    <v-list>
                        <v-list-tile class="secondary--text">
                            <v-list-tile-title class="title">
                                Tags <span v-if="filter.tags.length > 0"> ({{filter.tags.length}})</span> <span
                                    v-if="filter.tags.length > 0"
                                    @click="clearTagFilters"
                                    class="white--text body-2 clear-tag-filters-button"
                                >Clear All</span>
                            </v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile>
                            <v-text-field
                                single-line
                                solo
                                prepend-inner-icon="search"
                                v-model="tagSearch"
                            ></v-text-field>
                        </v-list-tile>
                    </v-list>
                </v-toolbar>

                <v-divider></v-divider>

                <v-list
                    dense
                    class="pt-0"
                >
                    <v-list-tile
                        v-for="tag in filteredTags"
                        :key="tag.id"
                        @click="toggleTagFilter(tag.name)"
                        :class="{'primary white--text' : isTagFilterSelected(tag.name)}"
                    >
                        <v-list-tile-content>
                            <v-list-tile-title>{{ tag.name }}</v-list-tile-title>
                        </v-list-tile-content>
                    </v-list-tile>
                </v-list>
            </v-navigation-drawer>
        </v-flex>

        <v-flex
            xs12
            md9
            lg10
        >
            <v-container
                fluid
                class="pb-0 pt-0"
            >
                <v-layout row>
                    <v-flex
                        offset-xs7
                        offset-md10
                        xs5
                        md2
                    >
                        <v-switch
                            class="private-switch"
                            v-model="isPrivateMode"
                            label="Private Mode"
                            color="warning"
                            input-value="true"
                            hide-details
                        ></v-switch>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-container
                grid-list-lg
                id="bookmarks-container"
            >
                <v-layout
                    row
                    wrap
                >
                    <v-flex
                        v-for="bookmark in bookmarks"
                        :key="bookmark.id"
                        xs12
                        sm12
                        md3
                    >
                        <v-card height="300">
                            <a
                                :href="bookmark.url"
                                target="_blank"
                            >
                                <v-img
                                    :src="bookmark.image ? bookmark.image : '/images/placeholder-400x200-secondary.png'"
                                    height="200"
                                    @error="bookmarkImageUrlAlt"
                                ></v-img>
                            </a>

                            <v-card-title primary-title>
                                <div>
                                    <a
                                        :href="bookmark.url"
                                        target="_blank"
                                    >
                                        <p class="subheading mb-0">{{bookmark.title ? bookmark.title : 'No Title'}}</p>
                                    </a>
                                </div>
                                <v-tooltip bottom>
                                    <template v-slot:activator="{ on }">
                                        <v-icon
                                            v-if="bookmark.is_dead"
                                            class="dead-link-icon"
                                            v-on="on"
                                        >fas fa-skull</v-icon>
                                    </template>
                                    <span>Broken Link</span>
                                </v-tooltip>
                            </v-card-title>
                        </v-card>
                    </v-flex>
                </v-layout>
                <infinite-loading
                    @infinite="handleInfiniteScroll"
                    :identifier="infiniteScrollPluginId"
                ></infinite-loading>
            </v-container>
        </v-flex>
    </v-layout>
</v-container>
